@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 992px) {


    .hero_area {
        background-image: url('/images/advogado.png');
        background-size: cover;
    }

    .custom_nav-container .nav_search-btn {
        background-position: center;
        margin-top: 10px;
    }

   #botao-bem {
    display: none;
   }

    .slider_section {
        padding-top: 300px;
        padding-bottom: 75px;
    }

    .info_items {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hero_area {
        background-image: url('/images/advogado.png');
    }

    .cards {
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
      }
      
    .contact_section .form_container {
        padding: 45px 0;
    }

    .info_items {
        flex-direction: column;
        align-items: center;
    }

    .contact_section .heading_container {
        justify-content: center;
    }

    .contact_section .heading_container h2::before {
        left: 50%;
        transform: translateX(-50%);
    }

    .contact_section button {
        margin: 45px auto 0 auto;
    }

    .conteiner-flex {
        font-size: 12px;
    }
}


@media (max-width: 576px) {
    .slider_section .detail-box h1 {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    .logo-deep {
        display: none;
    } 
    .hero_area {
        background-image: url('/images/advogado.png');
        background-size: 750px;
        background-repeat: no-repeat; /* Para evitar que a imagem se repita */
    }
}

@media (max-width: 420px) {
    .slider_section .detail-box h1 {
        letter-spacing: .3rem;
        }
    
    .botao-wp {
        display: none;
    }

    .slider_section {
        padding-top: 150px;;
    }

    .slider_section .detail-box {
        margin-top: 50px; /* Move o conteúdo 20px para baixo */
      }
}

@media (max-width: 400px) {
    #title-text {
      font-size: 1.6rem; /* Ajuste o tamanho do título */
    }
    
    .slider_section h2 {
      font-size: 1.4rem !important; /* Ajusta o tamanho do subtítulo */
    }
    
    .slider_section h5 {
      font-size: 1rem; /* Ajusta o tamanho do texto menor */
    }

    #botao-bem {
      width: 250px; /* Reduz o tamanho do botão */
      height: 60px;
    }

    .img-whats {
      width: 20px; /* Reduz o tamanho do ícone do WhatsApp */
    }

    .hero_area {
        background-image: url('/images/advogado.png');
        background-size: 555px;
        background-repeat: no-repeat; /* Para evitar que a imagem se repita */
    }


#bancario-text {
    max-width: 100%; /* O texto ocupará 90% da largura da tela em telas menores */
    margin: 0 auto;
  }

  /* Para telas médias */
  @media (min-width: 768px) {
    #bancario-text {
      max-width: 80%; /* Aumenta a largura para 80% da tela em dispositivos médios */
    }
  }

  /* Para telas grandes */
  @media (min-width: 1200px) {
    #bancario-text {
      max-width: 100%; /* O texto pode ocupar toda a largura disponível em telas maiores */
    }
  }
